{% extends "layout.html" %}


{% block content %}

    <div class="container">

        <!-- (1) Panel showing the rmc_student table -->
        <div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
                    Student list
                </div>
                <div class="panel-body">
                    <p>All courses with review(s) are listed as follows:</p>
                </div>

                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Course name</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>

                    <!-- (2) Receives data from the back-end -->
                    {% for obj in queryset %}
                        <tr>
                            {% for course in courses_review %}
                                {% if course.course_id == obj.id %}
                                    <th scope="row">{{ obj.id }}</th>
                                    <td>{{ obj.name }}</td>
                                    <td>
                                        <a class="btn btn-success btn-xs" href="/{{ obj.id }}/view-reviews-course/">View reviews</a>
                                    </td>
                                {% endif %}
                            {% endfor %}

                        </tr>
                    {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>

    </div>

{% endblock %}


